{% extends 'base.html' %}

{% block title %}Add - {% endblock %}

{% block header %}
  <h1>Logging to {{ date.strftime('%A %d, %B %Y') }}</h1>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-11 col-sm-10 col-md-8 col-lg-5">
    <form method="post" class="mx-5">
      <div class="mx-5 my-3">
        <label for="amount" class="form-label">Amount:</label>
        <input name="amount" class="form-control" id="amount" type="number" value="1" min="1" required>
      </div>
      <div class="mx-5 my-3">
        <label for="food" class="form-label">Food:</label>
        <input name="food" class="form-control" id="food" type="text" required>
      </div>
      <div class="mx-5 my-3">
        <label for="calories" class="form-label">Calories (kcal):</label>
        <input name="calories" class="form-control" id="calories" type="number" step="10" min="0" required>
      </div>
      <div class="text-center m-3">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}