{% extends 'base.html' %}

{% block title %}Add - {% endblock %}

{% block header %}
  <h1>Logging to {{ date.strftime('%A %d, %B %Y') }}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="amount">Amount:</label><br>
    <input name="amount" id="amount" type="number" value="1" min="1" required><br>
    <label for="food">Food:</label><br>
    <input name="food" id="food" type="text" required><br>
    <label for="calories">Calories:</label><br>
    <input name="calories" id="calories" type="number" step="10" min="0" required><br>
    <button type="submit" value="Add">Add</button>
  </form>
{% endblock %}