{% extends 'base.html' %}

{% block title %}Log - {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='dates.css') }}">
{% endblock %}

{% block content %}
  {% set prev = date|prev_day %}
  {% set next = date|next_day %}

  <div>
    <a href="{{ url_for('tracker.date_logs', year=prev[0], month=prev[1], day=prev[2]) }}">Prev</a>
    <h1>{{ date.strftime('%B %d, %Y') }}</h1>
    <a href="{{ url_for('tracker.date_logs', year=next[0], month=next[1], day=next[2]) }}">Next</a>
  </div>

  <h2>Total Calories: {{ total_calories }}</h2>

  <hr>

  {% for log in logs %}
    <div class="list">
      {{ log ['amount'] }} {{ log['food'].capitalize() }} with {{ log['calories']}} calories
      <form action="{{ url_for('tracker.delete', id=log['id']) }}" method="post">
        <button class="danger" type="submit">Remove</button>
      </form>
    </div>
  {% endfor %}

  {% if g.user %}
    <form action="{{ url_for('tracker.create_log', year=date.year, month=date.month, day=date.day) }}" method="get">
      <button type="submit">Add Food</button>
    </form>
  {% endif %}
{% endblock %}