{% extends 'base.html' %}

{% block header %}
  <h1>Calorie Log</h1>
{% endblock %}

{% block content %}
  <div class="calendar">
    <div class="horizontal-nav">
      <button class="btn" id="prev-month">‹</button>
      <div id="month-year"></div>
      <button class="btn" id="next-month">›</button>
    </div>
    <div class="calendar-body">
      <div class="calendar-weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div class="calendar-dates">
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}