{% extends 'base.html' %}

{% block title %}Add - {% endblock %}

{% block header %}
  <h1>Logging to {{ date.strftime('%A %d, %B %Y') }}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="amount">Amount:</label>
    <input name="amount" id="amount" type="number">
    <br>
    <label for="food">Food:</label>
    <input name="food" id="food" required>
    <br>
    <label for="calories">Calories:</label>
    <input name="calories" id="calories" required>
    <br>
    <input type="submit">
  </form>
{% endblock %}