{% extends 'base.html' %}

{% block title %}Log{% endblock %}

{% block header %}
  <h1>{{ date.strftime('%A %d, %B %Y') }}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('tracker.create_log', date=date) }}">Add Food</a>
  {% endif %}
{% endblock %}

{% block content %}
  <ul class="list-group">
  {% for log in logs %}
    <div>
      <li class="list-group-item">
        {{ log['id'] }} {{ log['food'].capitalize() }} with {{ log['calories']}} calories
        <button class="btn btn-danger">X</button>
      </li>
    </div>
  {% endfor %}
  </ul>
{% endblock %}