{% extends 'base.html' %}

{% block title %}Log - {% endblock %}

{% block header %}
  <h1>{{ date.strftime('%B %d, %Y') }}</h1>
  {% set prev = date|prev_day %}
  {% set next = date|next_day %}
  <a href="{{ url_for('tracker.date_logs', date=prev) }}">Prev</a>
  <a href="{{ url_for('tracker.date_logs', date=next) }}">Next</a>
{% endblock %}

{% block content %}
  <h2>Total Calories: {{ total_calories }}</h2>

  <hr>

  {% for log in logs %}
    {{ log ['amount'] }} {{ log['food'].capitalize() }} with {{ log['calories']}} calories
    <form action="{{ url_for('tracker.delete', id=log['id']) }}" method="post">
      <button class="btn btn-danger" type="submit" value="x">x</button>
    </form>
  {% endfor %}

  {% if g.user %}
    <form action="{{ url_for('tracker.create_log', date=date) }}" method="get">
      <button class="btn btn-danger" type="submit">Add Food</button>
    </form>
  {% endif %}
{% endblock %}