{% extends 'base.html' %}

{% block title %}Log{% endblock %}

{% block header %}
  <h1>{{ date.strftime('%A %d, %B %Y') }}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('tracker.create_log', date=date) }}">Add Food</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container">
  {% for log in logs %}
      <div class="row align-items-start">
        <div class="col-8 align-self-start">
          {{ log['id'] }} {{ log['food'].capitalize() }} with {{ log['calories']}} calories
        </div>
        <div class="col-3 align-self-end">
          <form action="{{ url_for('tracker.delete', id=log['id']) }}" method="post">
            <button class="btn btn-danger" type="submit" value="x">x</button>
          </form>
        </div>
      </div>
  {% endfor %}
  </div>
{% endblock %}