{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Calorie Log{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="#">Log New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for date in dates %}
    <article class="log">
        <p class="body"><a href="{{ url_for('tracker.date_logs', date_id=date['id']) }}">{{ date['datetime'].strftime('%B %-d, %Y') }}</a></p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}