{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Calorie Log{% endblock %}</h1>
  {% if g.user %}
    <form action="{{ url_for('tracker.create_log', date=today) }}" method="get">
      <button class="btn btn-danger" type="submit">New</button>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
  {% for date in dates %}
    <article class="log">
      <p class="body"><a href="{{ url_for('tracker.date_logs', date=date) }}">{{ date.strftime("%B %d, %Y") }}</a></p>
    </article>
  {% endfor %}
{% endblock %}