html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #eee;
}

form {
    padding: 1rem;
}

.test {
    border: 1px solid magenta;
}

/* Calendar */
.calendar {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
#month-year {
  font-size: 1.2em;
  font-weight: bold;
}
.calendar-weekdays, .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-weekdays div, .calendar-dates div {
  text-align: center;
  padding: 10px;
}
.calendar-weekdays {
  background-color: #eaeef3;
}
.calendar-weekdays div {
  font-weight: bold;
}
.calendar-dates div {
  border-bottom: 1px solid #eaeef3;
  cursor: pointer;
}
.calendar-dates div:hover {
  background-color: #a6a6a6;
}
.current-date {
  background-color: #007bff;
  color: #fff;
}
@media (max-width: 400px) {
  .calendar {
    width: 100%;
    margin: 0 10px;
  }
}
